.center {

  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  width: 100%;
}
.al{
  display:grid;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;

}