<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-back-button></ion-back-button>
        {{product.nombre}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-label>{{product.nombre}}</ion-label>
  <ion-label>{{product.precio}}</ion-label>
  <ion-label>{{product.descripcion}}</ion-label>
  <img [src]="product.photo" alt="">
  <ion-chip (click)="addToCartByID(product.id)">
    <ion-icon name="cart-outline"></ion-icon>
    <ion-label>Agregar al carrito</ion-label>
  </ion-chip>
</ion-content>
