ion-card{
    width: 100%;
}
.parent {
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 1fr 0.5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 {
        display: flex;
        justify-content: center;
        grid-area: 1 / 1 / 3 / 2; }
    .div2 {
        ion-label{
            display: block;
        }
         grid-area: 1 / 2 / 3 / 3; 
        }
    .div3 { 
        display: flex;
        justify-content: space-evenly;
        grid-area: 1 / 3 / 2 / 4; 
        ion-label{
            align-self: center;
        }
        ion-button{
            font-size: 20px;
            align-self: center;
        }
    }
    .div4 { 
        display: flex;
        justify-content: center;
        grid-area: 2 / 3 / 3 / 4;
        ion-label{
            font-size: 20px;
            align-self: center;
        }
     }

.product_img {
    height: 100px;
    height: 100px;
  }
  .cartPrice {
    display: flex;
    justify-content: space-between;
    margin: 32px;
    ion-label{
        font-size: 40px;
    }
}

ion-button{
    margin: 32px;
}