<ion-header>
  <ion-toolbar>
    <ion-title>Autenticación con Google y Firebase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="6" size-lg="3">
        <ion-button class="btn-login" expand="block" (click)="onLogin()">
          <ion-icon class="ion-padding-end" name="logo-google"></ion-icon>
          <ion-text>
            <p>Ingresa con Google</p>
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
