<ion-header>
  <ion-toolbar>
    <ion-title>view-car</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item-sliding  *ngFor="let item of productsInCar;let i = index">
        <ion-item *ngIf="item.inCar>0">
        <ion-label>{{item.nombre}}</ion-label>
        <ion-label>{{item.precio}}</ion-label>
        <ion-label>{{item.descripcion}}</ion-label>
        <img [src]="item.photo" alt="">
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>