<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item-sliding  *ngFor="let item of products;let i = index">
        <ion-item  (click)="getProductByID(item.id)">
        <ion-label>{{item.nombre}}</ion-label>
        <ion-label>{{item.precio}}</ion-label>
        <ion-label>{{item.descripcion}}</ion-label>
        <img [src]="item.photo" alt="">
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goToCar()" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
